button  {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
  user-select: none;

  &.small {
    margin: 0.5rem;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    box-shadow: var(--shadow-sm);

    &:hover { box-shadow: var(--shadow-sm-pressed) }
    &:active { box-shadow: var(--shadow-sm-active) }

    img {
      max-width: 1.25rem;
      max-height: 1.125rem;
    }
  }

  &.middle {
    margin: 0.6725rem;
    padding: 0.5rem 0.875rem;
    font-size: 1rem;
    box-shadow: var(--shadow-md);

    &:hover {  box-shadow: var(--shadow-md-pressed) }
    &:active { box-shadow: var(--shadow-md-active) }

    img {
      max-width: 1.5rem;
      max-height: 1.375rem;
    }
  }

  &.large {
    margin: 0.75rem;
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    box-shadow: var(--shadow-lg);
    
    &:hover { box-shadow: var(--shadow-lg-pressed) }
    &:active { box-shadow: var(--shadow-lg-active) }

    img {
      max-width: 1.75rem;
      max-height: 1.625rem;
    }
  }

  p {
    background-color: transparent !important;
    margin: 0;
    font-size: inherit;
    line-height: inherit;
  }

  &.icon-top, &.icon-bottom { flex-direction: column }

  &.icon-top p { order: 1 }
  &.icon-bottom p { order: -1 }
  &.icon-left p {
    order: 1;
    margin-left: 0.75rem;
  }
  &.icon-right p {
    order: -1;
    margin-right: 0.75rem;
  }
  
  img { 
    height: 100%;
    width: 100%;
    object-fit: contain;

    &.dark {
      filter: invert(50%) brightness(10);
    }

    &.light {
      filter: invert(50%) brightness(0);
    }
  }
}
